.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.text-md { font-size: 1rem; }
.text-lg { font-size: 1.25rem; }
.text-xlg { font-size: 1.5rem; }
.text-center { text-align: center; }
.text-white	{ color: rgb(255 255 255); }
.mb-2 { margin-bottom: 2rem; }
